input {
    position: absolute;
}

button {
    position: absolute;
    left: 15%;
}

img {
    position: absolute;
    top: 4%;
}

canvas {
    position: absolute;
    left: 40%;
}
